<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
<html lang="ru-ru">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'main' %}">{% trans "Task manager" %}</a>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}">{% trans "Users" %}</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item"> <a class="nav-link" href="{% url 'statuses' %}">{% trans "Statuses" %}</a>
              <li class="nav-item"> <a class="nav-link" href="{% url 'labels' %}">{% trans "Labels" %}</a>
              <li class="nav-item"> <a class="nav-link" href="{% url 'tasks' %}">{% trans "Tasks" %}</a>
              <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">{% trans "Entrance" %}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'create_user' %}">{% trans "Registration" %}</a>
                </li>
              {% endif %}
              
            </ul>
        </nav>
        {% bootstrap_messages %}
        <div class="container wrapper flex-grow-1">
        {% block content %}
        {% endblock %}
        </div>
        <footer>
            <div class="container my-5 pt-4 border-top">
              <a target="_blank" href="https://github.com/Georgyphyton">{% trans "My github" %}</a>
            </div>
          </footer>
        </body>
    </html>