{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Users" %}
{% endblock %}
{% block content %}
<h1 class="my-4">{% trans "Users" %}</h1>  
<table class="table table-striped">
    <thead>
        <tr>
          <th>ID</th>
          <th>{% trans "Username" %}</th>
          <th>{% trans "Full name" %}</th>
          <th>{% trans "Date of creation" %}</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.first_name}} {{  user.last_name }}</td>
        <td>{{user.date_joined}}</td>
        <td>
            <a href="{% url 'update_user' user.id %}">{% trans "To change" %}</a>
            <br>
            <a href="{% url 'delete_user' user.id %}">{% trans "Remove" %}</a>
          </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}