{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block title %}
{% trans "Tasks" %}
{% endblock %}
{% block content %}
<h1 class="my-4">{% trans "Tasks" %}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'create_task' %}">{% trans "Create a task" %}</a>
    <div class="card mb-3">
      <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      {% csrf_token %}
      <div class="mb-3">
        {% bootstrap_form filter.form %}
        </div>
        <input class="btn btn-primary" type="submit" value="{% trans 'Show' %}">
    </form>
    </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'Author' %}</th>
          <th>{% trans 'Executor' %}</th>
          <th>{% trans "Date of creation" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{task.pk}}</td>
            <td><a href="{% url 'task' task.pk %}">{{task.name}}</a></td>
            <td>{{task.status}}</td>
            <td>{{task.author.first_name}} {{task.author.last_name}}</td>
            <td>{{task.executor.first_name|default_if_none:''}} {{task.executor.last_name|default_if_none:''}}</td>
            <td>{{task.created_at}}</td>
            <td>
              <a href="{% url 'update_task' task.pk %}">{% trans "To change" %}</a>
              <br>
              <a href="{% url 'delete_task' task.pk %}">{% trans "Remove" %}</a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
    </table>
{% endblock %}