{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block title %}
{{ task.name }}
{% endblock %}
{% block content %}
<h1 class="my-4">{% trans 'Viewing a task' %}</h1>     
<div class="card">
    <div class="card-header bg-secondary text-white">
    <h2>{{ task.name }}</h2>
      </div>
      <div class="card-body bg-light">
        <p>{{ task.description }}</p>
        <hr>
        <div class="container">
          <div class="row p-1">
            <div class="col">{% trans 'Author' %}</div>
            <div class="col">{{task.author.first_name}} {{task.author.last_name}}</div>
          </div>
          <div class="row p-1">
            <div class="col">{% trans 'Executor' %}</div>
            <div class="col">{{task.executor.first_name|default_if_none:''}} {{task.executor.last_name|default_if_none:''}}</div>
          </div>
          <div class="row p-1">
            <div class="col">{% trans 'Status' %}</div>
            <div class="col">{{ task.status }}</div>
          </div>
          <div class="row p-1">
            <div class="col">{% trans "Date of creation" %}</div>
            <div class="col">{{ task.created_at }}</div>
          </div>
          <div class="row p-1">
            <div class="col">
              <h6>{% trans "Labels" %}:</h6>
              <ul>
                {% for label in task.labels.all %}
                
                  <li>{{label}}</li>
                  {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row p-1">
            <div class="col">
              <a href="{% url 'update_task' task.pk %}">{% trans "To change" %}</a>
              <br>
              <a href="{% url 'delete_task' task.pk %}">{% trans "Remove" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}